body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
padding: 0;
margin: 0;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
fieldset,img {
border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
font-weight: normal;
font-style: normal;
}
ol,ul {
list-style: none;
}
caption,th {
text-align: left;
}
h1,h2,h3,h4,h5,h6 {
font-weight: normal;
font-size: 100%;
}
q:before,q:after {
content:'';
}
abbr,acronym { border: 0;
} 
/*===========================================*/

/*styles*/

body {
    background:url(images/background.png) repeat;
    font-family:Georgia;
}
.wrapper {
    margin:0 auto;
    max-width:1048px;
    width:100%; 
    position:relative;
}
/*HEADER*/
.header {
    padding-top:70px;
    display: flex;
    align-items: center;
    margin-bottom:40px;
}
.header_logo {
    display:flex;
    position: relative;
    bottom:10px;
    align-items:center;
}
.logo {
    text-decoration: none;
}
.logo_name_lipsum {
    padding-left: 8px;
    font-size:45px;
    color:#000;/*black*/
}
.logo_name_media {
    font-family:Cicle Fina;
    padding-left:15px;
    color:#000;
    font-weight:normal;
    font-size:45px;
    margin-right:120px;
}
.navigation_header ul li p {
    font-family:SourceSansProLight;
    font-size:45px;
    color:#000;
    padding-bottom:20px;
}
.navigation_header ul {
    display:flex;
   
    align-items:center 
}
.navigation_header ul li a {
    display:block;
    font-family:Cicle Fina; 
    color:#000000;
    font-size:16px; 
    text-decoration: none;
    cursor:pointer;
}
.navigation_header ul li a:hover{
    text-decoration: underline;
}
.navigation_header ul li img {
    padding-bottom:20px;
    padding-left:10px;
}
.link a {
    display:inline;
    font-weight:bold;
    text-decoration: underline;
}
.link {
    background:url(images/aarow_toright_header.png)  5px 5px no-repeat;
    padding-left:20px;
    padding-right: 7px;
    margin-right:3px;
}
/*HEADER*/

/*HIDDEN MENU*/
.hidden-menu a {
    display:block;
    font-family:Cicle Fina; 
    color:#000000;
    font-size:12pt; 
    text-decoration: none;
    border-bottom: 1px solid #000;
    margin-top:10px;
}
.hidden-menu a:hover {
   color:#faa61a;
   font-size:14pt;
}
.hidden-menu {
   position: fixed;
   list-style:none;
   padding: 10px;
   margin: 0;
   box-sizing: border-box;
   width: 200px;
   background-color: #eee;
   height: 100%;
   top: 0;
   left: -200px;
   transition: left .2s;
   z-index: 2;
}
.hidden-menu-ticker {
   display: none;
}
.hidden {
    display:none;
}
.btn-menu {
    color: #faa61a;
    background-color: orange;
    padding: 5px;
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
.btn-menu span {
    display: block;
    height: 5px;
    background-color: #fff;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}
.btn-menu span.first {
    margin-top: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu {
    left: 160px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
    left: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 10px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -10px;
}
/*HIDDEN MENU*/

/*MAIN*/
.main_content {
    background:#faa61a;
}
.main_content h1 {
    color: #000;
    font-size:44pt; 
    margin: 0 50px;
    padding-top: 30px;
    padding-bottom:30px;
    text-align:center;
}

.content {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    transition:.5s;
    padding-bottom: 38px;
    margin-bottom: 30px;
}
.first_column {
    width: 632px;
    margin-left:45px;   
    display:flex;
    letter-spacing: -0.36px;
}
.panda_img {
    background-image:url(images/btn_play.png);
    background-position: . .;
    background-repeat: no-repeat;
}
.inner_column {
    letter-spacing:0;
    display:inline-block;
    color:#fff;
    padding-top: 25px;
    padding-left: 20px;
    background:#000;
    width: 205px; 
    word-wrap: break-word;
}
.inner_column h3 {
    padding: 0 3px;
    color:#000;
    background:#fff;
    display:inline-block;
    margin-bottom:10px;
    font-weight:bold;
    font-size:15px;
    letter-spacing: -1px;
}
.inner_column p {
    margin-bottom:5px;
    color:#fff;
    padding-bottom: 6px;
    overflow: hidden;
    font-size: 17px;
    padding-right:10px;
}
.second_column {
    margin-right: 38px;
    margin-left: 38px;
    width: 280px;   
    background:#fff;
    position: relative;
}
.second_column h3 {
    color: #000;
    font-size: 16pt;
    padding-left: 10px;
    word-spacing: 4px;
    letter-spacing: -2px;
    padding-top: 5px;
    font-weight: bold;
}
.second_column p {
    color:#900 ;
    font-size: 11.5pt; 
    padding:32px;
    padding-top: 10px;  
    line-height:1.5;
}
.wrapper_did_know {
    height: 420px;
    border-right: 1px solid;
    border-left: 1px solid;
    position: relative;
    top: 29px;
}
.btn_read_more {
    bottom: 20px;
    right:10px;
    position: absolute;
    display: flex;
}

.btn_read_more .txt_btn_more {
    background-color: #000;
    width: 72px;
    height: 23px;
    font-size: 13px;
    padding: 0 5px;
    line-height: 22px;
    color: #fff;
    text-decoration: none;
}

/*MAIN*/

/*Main about us*/
.about_us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}
.our_service { 
    padding-left: 24px;
    margin-top: 60px;
}
.our_service h2 {
    color:#000;
    font-size:24px;
    padding-bottom: 28px;
    padding-top: 26px;
    margin-top: -52px;
}
.our_service h2 span {
    color:#faa61a;
    font-size:27px;
    text-align: center;
}
.our_service ul li {
    background:url(./images/arrow_list_item.png) no-repeat;
    font-size: 17px;
    padding-left: 30px;
    padding-bottom: 15px;
}
.did_you_know {
   padding: 0 45px
}
.did_you_know h2 {
    color: #000;
    font-size: 19px;
    padding-top: 56px;
    margin-bottom: 26px;
}
.did_you_know h2 span {
    color:#faa61a;
    font-size:27pt;
    text-align: center;
}
.did_you_know p {
    font-size: 13pt;
    padding-bottom: 13px;
    overflow: hidden;
    width: 335px;
    line-height:1.5;
}
.contact {
    padding-right: 40px;
    margin-top: 50px;
}
.wrapper_did_you_know {
    border-left:1px solid gray;
    position: relative;
}
 .down_border_l {
    position: absolute;
    left: -23px;
    bottom: 17px;
}
.down_border_r {
    position: absolute;
    right:-9px;
    bottom:18px;
    }
 .top_border_r {
    position: absolute;
    top: 9px;
    left: -22px;
}
.top_border_l {
    position: absolute;
    top: 9px;
    right: -9px;
}
.contact ul {
    margin-top: -15px;
}
.contact h2 {
    color: #faa61a;
    font-size: 24pt;
    padding-top: 35px;
    margin-bottom: 26px;
    padding-right: 75px;
    position: relative;
    right: 38px;
    margin-top: -52px;
}
.contact li {
    display:flex;
}
.contact li p {
    background:#000;
    font-size:13pt ;
    letter-spacing:1px;
    padding-top:4px;
    padding-right:15px;
    padding-left: 2px;
    color:#fff;
}
.wrapper_about_aus {
    width:374px;
}
#conection_li_element {
    margin-top: 20px;
}
#mobile__icon {
    position:relative;
    right: 20px;
    top:13px
}
#fax__icon {
    position:relative;
    right:20px;
    top:20px;
}
#email__icon {
    position:relative;
    right: 20px;
    top:25px;
}
#home_icon {
    position: relative;
    right: 27px;
    top:16px;
}
.email__link {
    margin-bottom: 20px
    margin-top:20px;
}
#top__home__li__element {
    margin-left: 15px;
    margin-bottom: 5px;
    margin-top: -11px;
}
.midl__home__li__element {
    margin-bottom:5px;
    margin-left: 15px;
}
.last__home__li__element {
     margin-left:15px;
}

.fax__num , .mobile__num {
    font-weight:bold;
}
.mobile__num {
    margin-top: 18px;
}
#read_me_btn {
    position: relative;
    left: 235px;
    top: 31px;
    width: 71px;
    height: 18px;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 0 4px 3px 6px;
    text-decoration: none;
    font-size: 15px;
}
#email {
    margin-left: 14px
}
.touch_menu {
    display:none;
}
.link {
    display:block;
    }
/*Main about us*/

/*MAIN CLIENTS*/

.img_clients{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 26px;
}
.our_clients h2{
    font-family: BebasBold;
    color: #000;
    font-size: 16.18pt;
    padding-top: 56px;
    margin-bottom: 26px;
    padding-left: 26px;
}

.our_clients h2 span {
    font-family: BebasBold;
    color: #faa61a;
    font-size: 16.18pt;
    text-align: center;
}
/*FOOTER*/
.footer_logo {|
    display:inline-flex;
    justify-content:flex-start;
    align-items:center;
    position: relative;
    top: 28px;
}
footer p {
    float: right;

}
.footer_logo p {
    position: relative;
    bottom:5px;
    right:15px;
    display:block;
}
.footer_logo a {
    font-family:Cicle Fina;
    padding-left: 15px;
    font-weight: normal;
    font-size: 23.05pt;
    color:#000;
    margin-right: 120px;
    text-decoration: none;
}

.nav_footer {
    display:flex;
    justify-content: flex-end;
    align-items:center;
}
.nav_footer ul {
    display: flex;
    align-content: center;
    width:800px;
    border-bottom: 1px solid gray;
    overflow: hidden;
}
.nav_footer ul li {
    position: relative;
}
.nav_footer ul li:before {
    position: absolute;
    top:0;
    left:0;
    width:50%;
    content:""
}
   
.nav_footer a {
    margin-right:10px;
    color:#262626;
    font-size:11pt;
    cursor:pointer;
}

.nav_footer p {
    float: right; 
    color:#262626;
    font-size: 11pt;
}
.home_link {
     padding-left:400px;
}
/*FOOTER*/

/*media*/

/*LOGO*/
@media screen and (max-width: 1100px)
{
   
    .link{
        display: none;
        transition:.3s;
    }
     .hidden{
        display:block;
        transition: .3s;
    }
}
/*LOGO*/
/*MAin_content*/
@media screen and (max-width:500px)
{
.panda_img {
        width:100%;
        height:100%;
    }
}
@media screen  and (max-width: 600px){
.main_content {
    margin:0 auto;
    }
}
@media screen and (max-width:1052px)
{
.main_content h1 {
    font-size:33pt;
    text-align:center;
    font-family:Georgia;
    transition: .3s;
    }       
}

@media screen and (max-width:805px)
{
.main_content h1 {
    font-size:25pt;
    font-family:Georgia;
    text-align:center;
    transition: .3s;
        }
}
@media screen and (max-width: 640px)
{
.main_content h1 {
    font-size:20pt;
    font-family:Georgia;
    text-align:center;
    transition: .3s;
        }
}
@media screen and (max-width:1060px)
{
.inner_column {
    display:none;
    transition:.3s;
        }
}
@media screen and (max-width:1057px)
{
.second_column {
    position: relative;
    right: 20px;
    transition:.7s;
        }
.first_column {
    width:435px;
    transition: .3s;
    }
}
@media screen  and (max-width:855px){
.second_column {
    position:relative;
    right: -5px;
    height: 100%;
    width:100%;
    }
.second_column h3 {
    text-align: center;
       }
.first_column {
    background-size:cover;
    height:100%;
    width:100%;
   }
}
/*mAin_content*/
/*ABOUT US*/
@media screen and (max-width:840px){
.contact {
    margin-left: 70px;
    }
}
@media screen and (min-width:753px){
.contact {
    margin-left: 70px;
    }
}
@media screen and (max-width:1055px){
.about_us {
    border:none;
    transition: .3s;
    }
.wrapper_did_know { 
    transition:.3s;
    border:none;
    }
}
@media screen and (max-width:1050px){
.yellow_border {
    display:none;
    }
}
/*ABOUT US*/
/*Our Clients*/
@media screen and (max-width:630px){
.img_clients {
    display: flex;
    flex-direction: column;
    }
}
/*Our Clients*/
/*footer*/
@media screen and (max-width:450px){
.nav_footer {
    position: relative;
    letter-spacing:-2px;
    top:25px;
    }
    .footer_logo {
    margin-bottom:7px;
    }
    footer p {
    position: relative;
    top: 20px;
    margin-bottom:5px;
    }
}
@media screen and (max-width:630px){
    .footer_logo img{
        display: none;
    }
}
/*footer*/
/* TODO